{% extends 'base.html.twig' %}

{% block title %}HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1 class="home_title">Bienvenue sur notre Blog </h1>

    <h2 class="excuser-nous">Malheuresement celui-ci n'est que dans ca phase de développement nous vous tiendrons au courant de l'avancer du projet</h2>
</div>
{% endblock %}
