{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="user_form">
    <form class="form form_container" enctype="multipart/form-data" method="post">
        <div class="User userEmail">
            {{ form_label(form.email, 'Mail' ) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="User userPassword">
            {{ form_label(form.password, 'Mot de passe' ) }}
            {{ form_widget(form.password) }}
        </div>
        <div class="conexion-btn">
            <button type="submit" class="btn btn-primary">Log In</button>
            <button type="button" class="btn" onclick="window.location='/sign_in'">Sign In</button>
        </div>
    </form>
        </div>
    </div>
{% endblock %}
