{% extends 'base.html.twig' %}


{% block body %}
    <form class="form_container" enctype="multipart/form-data" method="post">
        <div class="userPassword">
            {{ form_label(form.age, 'Votre âge' ) }}
            {{ form_widget(form.age) }}
        </div>
        <div class="userPassword">
            {{ form_label(form.sex, 'Sexe' ) }}
            {{ form_widget(form.sex) }}
        </div>
        <div class="conexion-btn">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </form>


{% endblock %}