{% extends 'base.html.twig' %}


{% block body %}
    <form class="form_container" enctype="multipart/form-data" method="post">
        <div class="userPassword">
            {{ form_label(form.password.first, 'Mot de passe' ) }}
            {{ form_widget(form.password.first) }}
        </div>
        <div class="userPassword">
            {{ form_label(form.password.second, 'Confirmation du Mot de passe' ) }}
            {{ form_widget(form.password.second) }}
        </div>
        <div class="conexion-btn">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </form>


{% endblock %}